**/.DS_Store
node_modules
lerna-debug.log
npm-debug.log
yarn-error.log
coverage
.nyc_output
.env
package-lock.json
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
packages/appsync-modelgen-plugin/lib
packages/graphql-docs-generator/lib
packages/graphql-types-generator/lib
packages/*/node_modules
packages/*/package-lock.json
**/.env
packages/**/reports/junit/*
test.out.log
*.tsbuildinfo
yarn.lock
package-lock.json