**/.DS_Store
node_modules
lerna-debug.log
npm-debug.log
yarn-error.log
coverage
.nyc_output
.env
package-lock.json
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
packages/graphql-generator/lib
packages/appsync-modelgen-plugin/lib
packages/graphql-docs-generator/lib
packages/graphql-types-generator/lib
packages/amplify-codegen-e2e-core/lib
packages/amplify-codegen-e2e-tests/lib
packages/amplify-codegen-e2e-tests/amplify-e2e-reports/
packages/amplify-codegen-e2e-tests/src/__tests__/amplify-e2e-reports/
packages/*/node_modules
packages/*/package-lock.json
**/.env
!packages/amplify-codegen-e2e-tests/projects-templates/create-react-app-auth-amplify/.env
packages/**/reports/junit/*
test.out.log
*.tsbuildinfo
package-lock.json
.idea
scripts/.env
.codebuild/debug_workflow.yml
